PeopleEmpowermentFrontEndSite/Service References/UserService/EntityClasses.CustomException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityClasses.CustomException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityClasses.CustomException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeopleEmpException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleEmpException" nillable="true" type="tns:PeopleEmpException" />
</xs:schema>