PeopleEmpowermentFrontEndSite/Service References/UserService/EntityClasses.BaseTemplates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityClasses.BaseTemplates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityClasses.BaseTemplates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
</xs:schema>